.listItem {
  width: 220px;
  height: 120px;
  background-color: $main--color;
  color: white;
  margin-right: 10px;
  overflow: hidden;
  /* cursor: pointer; */
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  iframe {
    width: 100%;
    height: 140px;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  &:hover {
    width: 325px;
    height: 300px;
    position: absolute;
    top: -150px;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.2);
    img {
      height: 140px;
    }
    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .icons {
        display: flex;
        margin-bottom: 10px;
        cursor: pointer;
        .icon {
          border: 2px solid white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 1.8rem;
        }
      }
      .itemInfoTop {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        margin-bottom: 10px;
        font-size: .75rem;
        font-weight: 600;
        color: gray;
        span {
          margin-right: 20px;
        }
        .limit {
          border: 1px solid gray;
          padding: 2px 4px;
        }
      }
      .desc {
        font-size: .75rem;
      }
      .genre {
        margin-top: 10px;
        font-size: .75rem;
        color: gray;
      }
    }
  }
}

